[Unit]
Description=Worker service
After=network.target

[Service]
User=ubuntu
ExecStart=/usr/bin/java -jar /opt/worker/worker.jar
WorkingDirectory=/opt/worker
Restart=always

[Install]
WantedBy=multi-user.target
